/* font-family: 'Amiri', serif; */
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

/*font-family: 'Droid Arabic Naskh', serif;*/
@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

@import url(https://fonts.googleapis.com/earlyaccess/lateef.css);
/* font-family: 'Lateef', serif; */

@import url(https://fonts.googleapis.com/earlyaccess/scheherazade.css);
/*font-family: 'Scheherazade', serif;*/

@import url(https://fonts.googleapis.com/earlyaccess/thabit.css);
/* font-family: 'Thabit', serif; */

body {
  background: #785D56;
  font-family: 'Raleway','Open Sans', sans-serif;
}

 .predict {
  width: 700px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.predict-header,
.predict p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.predict-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #BE4C54;
}

.predict-header {
  background: #BE4C54;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.predict-container {
  background: #ebebeb;
  padding: 12px;
  text-align: center;
  
}

/* Every row inside .predict-container is defined with p tags */
.predict p {
  padding: 12px;
}

.predict input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
    text-align: right;

}

.predict input[type="text"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
    text-align: right;
}


.predict input[type="text"]:focus {
  border-color: #888;
}

.predict input[type="submit"] {
  background: #BE4C54;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.predict input[type="submit"]:hover {
  background: #A5333B;
}

/* Buttons' focus effect */
.predict input[type="submit"]:focus {
  border-color: #A5333B;
}