/* font-family: 'Amiri', serif; */
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

/*font-family: 'Droid Arabic Naskh', serif;*/
@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);

body {
  background: #779ec9;
  font-family: 'Amiri','Droid Arabic Naskh', sans-serif;
}

form { 
    margin: 0 auto; 
    width:250px;
    text-align: center;
}

h2 { 
    margin: 0 auto; 
    width:250px;
    text-align: center;
}

search {
  width: 700px;
  margin: 16px auto;
  font-size: 16px;
}

search-header {
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

search-container {
  padding: 12px;
  text-align: center; 
}

